

li, a {
    display: inline;
    color: black;
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    font-size: small;
    font-family: arial, sans-serif;
}

#about-store, ul {
    display: flex;
    align-items: center;
}

#sign-in-button {
    background-color: #1a73e8;
    color: white;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    padding: 8px 18px 10px 18px;
}

#sign-in-button:hover {
    opacity: 90%;
}

a:hover {
    text-decoration: underline;
}

#nav-div {
    margin: 12px 15px 10px 15px;
    display: flex;
    justify-content: space-between;
}

#search-div, #logo-div {
    display: flex;
    justify-content: center;
}

#search-bar {
    width: 90vw;
    max-width: 100%;
    border-radius: 20px;
    margin-top: 30px;
}